<ion-view view-title="Dashboard" name="dashboard-view">
  <ion-nav-buttons side="right">
    <button class="button icon-left ion-log-out button-stable" ng-click="logout()">Logout</button>
  </ion-nav-buttons>

  <ion-content class="padding">
    <div class="row"><div class="col text-center">
      <h3 class="title">Welcome {{username}}!</h3>
      This could be your Dashboard.
      <br><br><br>
      <button class="button button-full button-positive" ng-click="performValidRequest()">
        Make Valid Request
      </button>
      <button class="button button-full button-energized" ng-click="performUnauthorizedRequest()">
        Make Request for unauthorized resource
      </button>
      <button class="button button-full button-assertive" ng-click="performInvalidRequest()">
        Make Request without valid token
      </button>
      <br><br>
      {{response}}
    </div></div>
  </ion-content>
</ion-view>
